@import '../partials/colors';

$header-logo: 22px;

.onmobile {
    transform: translateY(-500px);
}
.nav-container {
    height: 75px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
    background-color: #ffffff;
    box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
    position: fixed;
    width: 100%;
    z-index: 10;
    .nav-links {
        display: flex;
        width: 30%;
        justify-content: space-around;
        margin: 0;

        li {
            list-style: none;
        }
        a {
            color: #373d3f;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: 500;
            padding: 27px 20px;
            display: inline-block;
            transition: 0.5s color ease-in-out;

            &:hover {
                color: #2980b9;
            }
        }

        .active-link {
            color: #2980b9;
            border-bottom: 3px solid #2980b9;
        }
    }

    .burger {
		display: none;
		box-sizing: border-box;
		width: 59px;
		height: 55px;
		padding: 15px;
		border-radius: 50%;
		background: linear-gradient(45deg,#2980b9, #3498db);
        div {
            width: 30px;
            height: 3px;
            background-color: #fff;
			margin: 0;
			margin-bottom: 7px;
        }
    }
}

.header-logo {
    height: 40px;
    width: 130px;
}

.accordion {
  background-color: #fff;
  color: #373d3f;
  cursor: pointer;
  width: auto;
  border: none;
  text-align: center;
  outline: none;
  height: 75px;
  padding:15px 65px;
  letter-spacing: 2px;
  transition: 0.4s;
  font-weight: 500;
}

.active, .accordion:hover {
  color: #2980b9;
}

.nestedList {
    display: flex;
    position: fixed;
    flex-direction: column;
    transform: translateY(-500px);
    transition: 0.3s transform ease-in;
    margin: 0 ;
    padding: 0;
    z-index: -10;
    width: auto;
    box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
    li {
        list-style: none;
        background-color: #fff;
        p {
            margin: 0;
            text-align: center;
        }
        a {
            display: inline-block;
            text-align: center;
            padding: 15px 20px;
            text-decoration: none;
            background-color: #fff;
            color: #373d3f;
        }
    }
}

.activate-nestedList {
    transform: translateY(-75px);
    margin-top: 75px;
}

.nestedListActive-link {
    color: #2980b9 !important;
}

@media screen and (max-width: 1100px) {
    nav {
        .nav-links {
            width: 50%;
        }
    }
} 

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    nav {
        .nav-links {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .onmobile {
        display: flex;
        position: fixed;
        flex-direction: column;
        transform: translateY(-500px);
        transition: 0.3s transform ease-in;
        margin: 0;
        padding: 0;
        z-index: 9;
        width: 100%;
        box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
        li {
            list-style: none;
            background-color: #fff;
            p {
                margin: 0;
                text-align: center;
            }
            a {
                display: inline-block;
                text-align: center;
                padding: 15px 100px;
                text-decoration: none;
                background-color: #fff;
                color: #373d3f;
            }
        }
    }
    .accordion {
        height: 48.4px;
        width: 100%;
    }
    .accordion:hover{
        color: #373d3f;
    }
    .activate-accordion {
        background-color:#2980b9;
        color: #fff;
    }
    .activate-accordion:hover{
        color: #fff;
    }
    .nestedList,
    .activate-nestedList{
        width: 100%;
    }
}

.activate-mob {
    transform: translateY(0);
    margin-top: 75px;
}

.mobactive-link {
    color: #2980b9 !important;
}

.arrow{
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;

  span{
    top: .5rem;
    position: absolute;
    width: .75rem;
    height: .1rem;
    background-color:#373d3f;
    display: inline-block;
    transition: all .2s ease;

    &:first-of-type{
      left: 0;
      transform: rotate(45deg);
    }
    &:last-of-type{
      right: 0;
      transform: rotate(-45deg);
    }
  }
}

.activate-arrow{
    span{
      &:first-of-type{
        transform: rotate(-45deg);
        background-color: #2980b9;
      }
      &:last-of-type{
        transform: rotate(45deg);
        background-color: #2980b9;
      }
    }
}